* {margin: 0px;
padding: 0px;}

body {
    background: #e6e6e6;}

    header, .main, footer {
        background: #fff;
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
    }
div { text-align: center;}

    header nav { 
        background: #528fd5;
        overflow: hidden;
    }

    header nav ul {
        list-style: none;
    }

header nav ul li {
    float: left;

}

header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover{
    background: #75acec;
}

.main .articles {
    width: 68.5%;
    margin-right: 1.5%;
    float:left;
    background: white;
}

.main .articles .parrafo1{ background: turquoise;}
.main .articles .parrafo2{background: violet;}

.main .articles article {
padding: 20px;
background: #fff;
margin-bottom: 20px;
}
aside {
    width: 30%;
    background: #ff8000;
    float:left;
    padding: 20px;
    box-sizing: border-box;
}
footer{
    color: white;
    background: black;
    clear: both;
    padding: 10px 0px;
    text-align: center;
}

